doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Products
    link(rel="stylesheet", href="css/navbar.css")
    block styles
    //- link(rel="stylesheet", href="css/show-products.css")
  body
    //- Navigation Bar
    nav.navbar
      ul
        li: a#home-link(href="/", class=(path==='/' ? 'selected' : '')) Home
        li: a#add-product-link(href="/add-product", class=(path==='/add-product' ? 'selected' : '')) Add product
        li: a#show-products-link(href="/show-products", class=(path==='/show-products' ? 'selected' : '')) Show products
    header
      h1= pageTitle
    block content
    //- Main Content