<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=pageTitle%></title>
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <%- include('../includes/navbar.ejs') %>
    <!-- Main Content -->
    <div class="container">
        <h1>Welcome to the Home Page</h1>
        <div class="button-container">
            <form action="/shop/show-products-user" method="GET">
                <button type="submit">Show products</button>
            </form>
            <form action="/admin/add-product" method="GET">
                <button type="submit">Add product</button>
            </form>
        </div>
    </div>


</body>
</html>