body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    color: #343a40;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

h1 {
    font-size: 4em;
    margin-bottom: 0.5em;
    color: #007BFF;
}

p {
    font-size: 1.2em;
    margin-bottom: 1.5em;
}

a {
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;
    transition: opacity 0.3s ease;
}

a:hover {
    opacity: 0.8;
    text-decoration: underline;
}