<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=pageTitle%></title>
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/page-not-found.css">
</head>
<body>
    <!-- Navigation Bar -->
    <%- include('includes/navbar.ejs') %>

    <!-- Main Content -->
    <div class="container">
        <h1>404</h1>
        <p>Oops! The page you are looking for does not exist.</p>
        <p><a href="/">Go back to Home</a></p>
    </div>
</body>
</html>