<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="css/navbar.css">
    <link rel="stylesheet" href="css/home.css">
</head>
<body>
    <!-- Navigation Bar -->
    <nav class="navbar">
        <ul>
            <li><a href="/" id="home-link" class="selected">Home</a></li>
            <li><a href="/add-product" id="add-product-link">Add product</a></li>
            <li><a href="/show-products" id="show-products-link">Show products</a></li>
        </ul>
    </nav>

    <!-- Main Content -->
    <div class="container">
        <h1>Welcome to the Home Page</h1>
        <div class="button-container">
            <form action="/show-products" method="GET">
                <button type="submit">Show products</button>
            </form>
            <form action="/add-product" method="GET">
                <button type="submit">Add product</button>
            </form>
        </div>
    </div>


</body>
</html>