<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/css/home.css">
    
</head>
<body>
    <div class="container">
        <h1 style="margin-top: 0;">Home Page</h1>
        <div class="button-container">
            <form action="/show-users" method="GET">
                <button type="submit">Show Users</button>
            </form>
            <form action="/add-user" method="GET">
                <button type="submit">Add User</button>
            </form>
        </div>
    </div>
</body>
</html>